<h1>Editing enrolment</h1>

<%= render "form", enrolment: @enrolment %>

<br>

<div>
  <%= link_to "Show this enrolment", @enrolment %> |
  <%= link_to "Back to enrolments", enrolments_path %>
</div>
