<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= student.course_id %>
  </p>

  <p>
    <strong>Enrolment:</strong>
    <p>
	    <%= student.enrolment.code %>
    </p>
  </p>



</div>
